<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>API Rest con vistas XILFTEN Movies</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add movie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete">Delete movie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/update">Update movie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>API REST XILTEN Movies</h1><hr>

<h3>Get all Movies</h3>
<p>Para obtener todas las películas usa la url http://localhost:8080/movies </p>
<p>Para obtener una película por id usa la url http://localhost:8080/movies/{id} </p>
<h3>EL RESTO DE FUNCIONES ESTA ARRIBA</h3>

<p th:if="${message != null}" th:text="${message}"></p>
</body>
</html>

